{% extends "blog/base_blog.html" %}

{% load i18n blog markup %}

{% block title %}{{ object.title }}{% endblock %}
{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% block content %}
    <div class="entry">
        <h1 class="title">{{ object.title }}</h1>
        <div class="meta">
            <div class="date">{{ object.publish|date }}</div>

            {% if object.tags.all %}
            <div class="tags">
                <span class="label">{% trans "Tags" %}:</span>
                <ul>
                    {% for tag in object.tags.all %}
                    <li><a href="{% url blog_tag_detail slug=tag.slug  %}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if perms.blog.change_post %}
            <a title="{% trans "Edit" %} {{ object.title }}" class="edit" href="{% url admin:blog_post_change object.id %}">Edit</a>
            {% endif %}
        </div>
        <div class="body">
            {{ object.body_rendered|safe }}
        </div>

        <div class="other_posts">
            {% if object.get_previous_post %}
            <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}" title="{% trans "View previous post" %}">&laquo; {{ object.get_previous_post }}</a>
            {% endif %}
            {% if object.get_next_post %}
            <span class="separator">|</span> <a class="next" href="{{ object.get_next_post.get_absolute_url }}" title="{% trans "View next post" %}">{{ object.get_next_post }} &raquo;</a>
            {% endif %}
        </div>
    </div>

    {% include 'blog/comments.html' %}

{% endblock %}
