<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ blog_name }}{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
<div id="body">
{% block body %}
    <div id="masthead">
        <a id="site-title" href="/" title="{{ blog_name }}">{{ blog_name }}</a>
        <div id="site-description">{{ blog_description }}</div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</div>
</body>
</html>
